.card-list {
    padding: 40px 50px;
    background: #fff;
}

.card-list-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
    gap: 40px 24px;
    justify-items: center;
}

.card {
    max-width: 267px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card-poster {
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    background: #f0f0f0;
}

.card-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.badge-premiere {
    position: absolute;
    top: 11px;
    right: 11px;
    background: var(--accent-color);
    color: #fff;
    padding: 4px 12px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

}

.badge-age {
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: rgba(18, 61, 75, 0.9);
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
}

.card-info {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.card-title {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.card-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 20px;
}

.card-genre {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #727276;
    background: #F2F2F5;
    padding: 3px 4px;
    border-radius: 3px;
}

.card-sessions {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
    flex-wrap: wrap;
}

.session-item {
    width: 66px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}

.session-item:hover {
    border-color: var(--accent-color);
}

.session-time {
    display: block;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 7px 14px;
    text-align: center;
    color: #fff;
}

.session-details {
    height: 18px;
    padding: 2px 4px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    color: #4C4C4F;

    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;

}

.session-main {
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    background: var(--accent-color);
}

.session-hall {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    margin-top: 3px;
    color: #4C4C4F;
}

.session-tomorrow-btn {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #4C4C4F;
    background: var(--accent-color);
    padding: 8px 16px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}

.session-tomorrow-btn:hover {
    opacity: 0.9;
}